@import url('https://fonts.font.im/css?family=Roboto');

@import url('./themes/root.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 去掉浏览器纵向滚动条 */
@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

